@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

body,
html {
    height: 100%;
}

header {
    display: block;
    unicode-bidi: isolate;
    padding: 16px;
    background-color: rgb(0, 0, 133);
    color: #ecf0f1;
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 64px;
    height: 80%;
    width: 50%;
}

.wrapper {
    max-width: 88%;
    margin-inline: auto;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    color: rgb(0, 0, 133);
    border-bottom: 3px solid rgb(0, 0, 133);
}

.produtos {
    margin: 20px 0;
}

.products_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.products_box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box-img {
    width: 100%;
    height: auto;
}

.box_info {
    padding: 10px;
    text-align: center;
}

.box_info_title {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: bolder;
}

.box_info_description {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.botao-box {
    background-color: rgb(0, 0, 133);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.botao-box:hover {
    background-color: rgb(0, 0, 44);
}

footer {
    background-color: rgb(0, 0, 133);
}

.rodape {
    display: block;
    color: white;
    width: max-content;
    margin-inline: auto;
    padding-block: 0.8rem;
}

/* Media Queries para dispositivos Tablet */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .container > img {
        text-align: center;
    }

    .container img {
        width: 60%; /* Ajuste o valor conforme necessário para aumentar o tamanho da imagem */
        display: block; /* Garante que a imagem seja tratada como um bloco */
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
    }

    section .container {
        display: block;
        align-items: center;
    }

        .store-front {
            width: 40%;
            margin-right: 32px;
        }
    
        .products_box {
            flex: 1 1 calc(50% - 20px);
        }
    
        .box_info_title {
            font-size: 1.1em;
        }
    
        .box_info_description {
            font-size: 0.85em;
        }
    }

/* Media Queries para dispositivos Mobile */
@media screen and (max-width: 640px) {
    header {
        text-align: center;
    }

    header nav {
        margin-top: 8px;
    }

    header nav li {
        display: inline;
        padding: 16px 0;
        margin: 16px 0;
    }

    .store-front {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    section .container {
        flex-direction: column;
        text-align: center;
    }

    .products_wrapper {
        flex-direction: column;
    }

    .products_box {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .box_info_title {
        font-size: 1em;
    }

    .box_info_description {
        font-size: 0.8em;
    }
}







